// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.contacts > .card {
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.contacts > .card > li {
    list-style: none;
    padding: 10px 20px;
    font-size: 18px;
    color: #636363;
    border-bottom: 1px solid #eee;

    transition: 0.3s;
}
.contacts .actions {
    float: right;
    padding: 3px 10px;
    font-size: 14px;
    color: #636363;
    opacity: 0;
}
.contacts > .card > li:hover,
.contacts > .card > li:focus,
.contacts > .card > li:active {
    background-color: #f5f5f5;
    cursor: pointer;

    .actions {
        opacity: 1;
    }
}
.Ñontact-data {
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-bottom: 10px;
}
#showInfoTitle {
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    color: #3c4043;
    word-wrap: break-word;
}
.phone-list {
    margin: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.phone-list > li {
    list-style: none;
    margin-bottom: 7px;
    font-weight: 500;
}
.phone-list > li > i {
    padding: 0px 10px 0px 0px;
    color: #636363;
}